.advice {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    position: relative;

    .ball {
        height: 500px;
        width: 500px;
        //background-color: #10141d;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(42deg, rgb(156, 157, 164) 5%, rgb(16, 20, 29) 22%, rgb(16, 20, 29) 62%, rgb(134, 136, 143) 87%);

        &.wiggle {
            animation: wiggle .4s linear 2;
        }

        .center {
            height: 250px;
            width: 250px;
            background-color: #d9dadf;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 45px;
        }
    }   
}

@keyframes wiggle {
    0% { transform: rotateY(0deg); }
    25% { transform: rotate(-15deg); }
    50% { transform: rotate(20deg); }
    75% { transform: rotate(-16deg); }
    100% { transform: rotate(0deg); }
}